<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="A single-page application that prices Yu-gi-oh! cards quickly and easily." />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="robots" content="index,follow" />
    <title>Yu-gi-oh! Pricer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">

    <!-- JQuery UI -->
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.theme.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="header">
                    <table border="0">
                        <tr>
                            <td><img src="/img/yugiohpricerlogo.png" class="img-responsive" style="display: inline-block;"></td>
                            <td>
                                <h1 id="heading">
                                    Yu-gi-oh! Pricer<br>
                                    <small>Quickly price a list of cards.</small>
                                </h1>
                            </td>
                        </tr>
                    </table>

                    <div class="login-section">
                        {% if app.user != null %}
                            Logged in as <b>{{ app.user.username }}</b> | <a href="{{ path('logout') }}">Logout</a>
                        {% else %}
                            <a href="#" class="trigger-modal">Log in</a> | <a href="#" class="trigger-modal">Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="app" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- yugiohpricer -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4395281343280773"
                 data-ad-slot="8792257154"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

    <!-- Footer START -->
    <div class="row">
        <div class="col-md-12">
            <hr />

            <div class="container" id="footer">
                Logo created by <a href="https://www.youtube.com/channel/UC7TBm9Rjb5xQVXcSnAG91sA">Tyler Mahn.</a> Copyright &copy; 2017 Robert Calove. Give me feedback on Reddit @ <a href="https://www.reddit.com/user/romelako">/u/romelako</a>.
            </div>
        </div>
    </div>

    <!-- Footer END -->

    <!-- Modal START -->
    <div class="modal fade" tabindex="-1" role="dialog" id="login-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12" style="padding: 0;">
                            <div id="registration-section">
                                <h4>Register for YugiohPricer</h4>

                                <div class="alert alert-danger" id="r-alert"></div>

                                <form id="registration-form">
                                    <div class="form-group">
                                        <input type="text" id="r-username" class="form-control required alphanumeric" placeholder="username" name="username">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" id="r-password" class="form-control required" placeholder="password" name="password" minlength=6>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" id="r-repassword" class="form-control required" placeholder="verify password" name="re-password" minlength=6>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" id="r-email" class="form-control required email" placeholder="email" name="email">
                                    </div>

                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="r-remember"> Remember Me
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <input type="submit" class="btn btn-danger pull-right" value="Register">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12" style="padding: 0;">
                            <div id="login-section">
                                <h4>Login to YugiohPricer</h4>

                                <div class="alert alert-danger" id="l-alert"></div>

                                <div class="form-group">
                                    <input type="text" id="l-username" class="form-control" placeholder="username">
                                </div>

                                <div class="form-group">
                                    <input type="password" id="l-password" class="form-control" placeholder="password">
                                </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="l-remember"> Remember Me
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <span class="btn btn-warning pull-right" id="login-button">
                                        Log In
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Modal END -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
    <script src="/js/bundle.js" type="text/javascript"></script>

    <!-- Autocomplete Code START -->
    <script>
        $("#card").autocomplete({
            minLength: 3,
            delay: 300,
            source: function(request, callback) {
                var term = request.term.toLowerCase();

                $.getJSON("/api/get_all_cards", function(data) {
                    var results = [];
                    for (i = 0; i < data.length; i++) {
                        if (data[i].toLowerCase().indexOf(term) > -1) results.push(data[i]);
                    }
                    callback(results);		// Call the callback with the results
                });
            },
            select: function(e, ui) {
                $.ajax({
                    url: "/api/get_card_sets_rarities",
                    data: {card: ui.item.value}
                }).done(function(response){
                    possibleSets = response.sets;
                    possibleRarities = response.rarities;

                    $("#set").autocomplete("option", "source", possibleSets);
                    $("#rarity").autocomplete("option", "source", possibleRarities);

                    if (possibleSets.length == 1) {
                        $("#set").val(possibleSets[0]);
                    }

                    if (possibleRarities.length == 1) {
                        $("#rarity").val(possibleRarities[0]);
                    }
                });
            }
        });


        $("#set").autocomplete({
            source: [],
            minLength: 0
        }).on("focus", function(){
            $(this).autocomplete('search');
        });

        $("#rarity").autocomplete({
            source: [],
            minLength: 0
        }).on("focus", function(){
            $(this).autocomplete('search');
        });

    </script>
    <!-- Autocomplete Code END -->

    <!-- Login and Modal Code START -->
    <script>
        /**
         * LOGIN FUNCTIONALITY
         */
        function login() {
            var loginButton = $("#login-button");
            if (loginButton.data("clicked") == true)
                return;

            var username = $("#l-username").val();
            var password = $("#l-password").val();

            if (username.trim().length == 0 || password.trim().length == 0) {
                $("#l-alert").text("Both fields are required.")
                    .show();
                loginButton.data("clicked", false);
                return;
            }

            $.ajax({
                url: "{{ path('user_login') }}",
                method: "POST",
                data: {
                    username: username,
                    password: password,
                    remember: $("#l-remember").is(":checked")
                }
            }).done(function(response){
                console.log(response);
                if (response.success) {
                    location.reload();
                } else {
                    $("#l-alert").text(response.message)
                        .show();
                    loginButton.data("clicked", false)
                }
            });
        }

        $(function(){
            // Initialize login modal
            $("#login-modal").modal({
                show: false
            });

            // Event handler for showing modal
            $(".trigger-modal").click(function(e){
                $("#login-modal").modal('show');
            });

            // Register click handlers for login
            $("#login-button").click(login);
            $("#l-password, #l-username").on("keypress", function(e){
                if (e.key == "Enter") {
                    login();
                }
            });
        });
    </script>
    <!-- Login and Modal Code END -->

    <!-- Registration Code START -->
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script>
        $.validator.addMethod("alphanumeric", function(value, element){
            return /^[a-zA-Z0-9]+$/.test(value);
        }, "Usernames can only contain letters and numbers.");

        var registrationSubmitted = false;

        $(function(){
            $("#registration-form").validate({
                submitHandler: function(form){
                    if (registrationSubmitted) {
                        return;
                    }

                    if ($("#r-password").val() == $("#r-repassword").val()) {
                        $("#r-alert").hide();
                        registrationSubmitted = true;
                        $.ajax({
                            url: "{{ path('user_registration') }}",
                            method: "POST",
                            data: {
                                username: $("#r-username").val(),
                                password: $("#r-password").val(),
                                email: $("#r-email").val(),
                                remember: $("#r-remember").is(":checked")
                            }
                        }).done(function(response) {
                            if (response.success) {
                                location.reload();
                            } else {
                                registrationSubmitted = false;
                                $("#r-alert").text(response.message)
                                    .show();
                            }
                        });
                    } else {
                        $("#r-alert").text("Passwords do not match.")
                            .show();
                    }
                }
            });
        });
    </script>
    <!-- Registration Code END -->

    <!-- Clipboard Code START -->
    <script>
        $(".copy").tooltip({
            trigger: 'click',
            placement: 'bottom'
        });

        var clipboard = new Clipboard('.copy');

        clipboard.on('success', function(e){
            showTooltip();
        });

        function showTooltip() {
            $(".copy").tooltip('hide')
                    .attr('data-original-title', 'Copied!')
                    .tooltip('show');
        }
    </script>
    <!-- Clipboard Code END -->
</body>
</html>