html, body {
    font-family: 'Droid Sans', sans-serif;
    background: #eee url("/img/bg.jpg") repeat;
}

hr {
    border-color: #b5b5b5;
}

h4 {
    font-size: 17px;
}

.table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

#header {
    position: relative;
    margin-bottom: 0;
}

#header a {
    text-decoration: none;
}

#heading {
    color: #d2d2d2;
    margin-bottom: 0;
    padding-bottom: 24px;
    padding-left: 10px;
}

@media (max-width: 459px) {
    #heading {
        padding-bottom: 37px;
    }
}

#heading small {
    color: #d2d2d2;
    font-size: 16px;
}

#footer {
    text-align: center;
    color: #d2d2d2;
    margin: 20px 0;
    padding-top: 10px;
}

#footer a {
    color: orange;
}

#tips-heading {
    margin-top: 0;
}

#tips-panel {
    font-size: 18px;
}

#loading-overlay {
    background: rgba(255,255,255,0.8) url('/img/loading.gif') center center no-repeat;
    background-size: 10%;
    position: absolute;
    z-index: 5000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.login-section {
    position: absolute;
    background-color: white;
    display: inline-block;
    right: 0;
    bottom: 0;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.panel {
    border-radius: 0;
    border-color: transparent;
}

.modal-header {
    border-bottom: 0;
}

.modal-body {
    padding: 0 60px 60px 60px;
}

@media (min-width: 992px) {
    #registration-section {
        padding-right: 60px;
        border-right: 1px solid #ddd;
    }

    #login-section {
        padding-left: 60px;
    }
}


@media (max-width: 991px) {
    #registration-section {
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px
    }

    #login-section {
        padding-left: 0;
    }
}

.modal .alert {
    display: none;
}

label.error {
    color: red;
}

.list-section {
    margin-top: 10px;
}